<h1 class="text-3xl font-semibold mb-4 dark:text-white">Hi! Please confirm your email!</h1>

<p class="dark:text-white">
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p class="dark:text-white">
    Cheers!
</p>
