{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
    <h1 class="text-3xl dark:text-gray-200 mb-3">{{ recipe.title }}</h1>

    {% include 'partials/form.html.twig' %}
{% endblock %}
