{% extends 'base.html.twig' %}

{% block title "Toutes les recettes" %}

{% block body %}
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aut autem dolorem eveniet ex iure libero neque nostrum odio odit, omnis provident sapiente sit tempora tempore, ut vel voluptate voluptatem?
    </p>
    <ul>
        <li>
            <a href="{{ path('recipe.show', {id: 32, slug: 'pate-bolognaise'}) }}" class="text-blue-500 underline">Pates bolognaise</a>
        </li>
    </ul>
{% endblock %}
